.DS_Store
.Rhistory
.Renviron
tmp/
.Rproj.user
.env
data/raw/*
replication_package/
output/figures/*
output/tables/*
!output/figures/.gitkeep
!output/tables/.gitkeep
!output/logs/.gitkeep
src/*.o
src/*.so
